body{
  min-height: 100vh;
  /* margin: 0 auto; */
  color: rgb(208, 135, 0);
}

header {
  position: sticky;
  top: 0;
  background: lightgray;
  font: bold;
  color: black;
  height: 40px;
  text-align: center;

  
}

.navigation-bar h1{
  display: inline;
  
}
.actions-key{
  margin: 5px;
  text-align: center;
}

main{
  
  text-align: center;
 
}

footer {
  position: fixed;
  bottom: 0;
  right: 0; 
  left: 0;
  background: lightgray; 
  text-align: center;
  
  
}
.actions-key{
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;
  grid-template-rows: 50px;
}

.action-item {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;
  grid-template-rows: 50px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: lightslategray;
  border-radius: 5px;
}

.select-button {
  
  grid-column: 1;
}
.action-text{
  grid-column: 2;
}
.action-start-date {
  
  
}
.add-new-item-bar{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;;
  /* grid-template-rows: 1 */
  
}
.add-action-item-div{
  grid-column: 2 / 3;
  margin-top: 14px;
  
}
.add-start-date-div, .add-end-date-div, .add-postcode-div{
  margin-top: 15px;
  margin-right: 5px;
}



.add-item-button-div{
  margin-top: 10px;

}
#add-action-item{
  height: 16px;
  width:600px;
  
}
.delete-all-button, .delete-selected-button, .edit-item-button{
  grid-column: 1;
  height: 30px;
  align-content: center;
}
.edit-button-screen-active{
  
  height: 150px;
  width: 1000px;
  background: lightgray;
  margin-left: 220px;
  border-radius: 10px;
  

}

.edit-button-screen-active input{
 margin-right: 30px;
}
.edit-button-screen-hidden{
  display: none;
}
.delete-all-button{
  grid-template-rows: 2;
}

