body{
  min-height: 100vh;
  /* margin: 0 auto; */
}

header {
  position: sticky;
  top: 0;
  background: blue;
  font: bold;
  color: black;
  

  
}

.navigation-bar h1{
  display: inline;
}

main{
  
  text-align: center;
 
}

footer {
  position: fixed;
  bottom: 0;
  right: 0; 
  left: 0;
  background: blue; 
  text-align: center;
  
  
}
.actions-key{
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;
  grid-template-rows: 50px;
}

.action-item {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;
  grid-template-rows: 50px;
  padding: 10px;
}

.select-button {
  
  grid-column: 1;
}
.action-text{
  grid-column: 2;
}
.action-start-date {
  
  background: pink;
}
.add-new-item-bar{
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.6fr 0.6fr 0.6fr 0.6fr;;
  grid-template-rows: 50px;
  
}
.add-action-item-div{
  grid-column: 2 / 3;
  margin-top: 13px;
  
}
.add-start-date-div{
  margin-top: 20px;
}

.add-end-date-div {
  margin-top: 20px;
}

.add-item-button-div{
  margin-top: 20px;

}
#add-action-item{
  height: 30px;
}
.delete-all-button, .delete-selected-button, .edit-item-button{
  grid-column: 1;
  height: 30px;
  align-content: center;
}
.edit-button-screen-active{
  height: 150px;
  width: 150px;
  background: yellow;
}

.edit-button-screen-hidden{
  display: none;
}